@page "/sessions/{SessionId:guid}/{VersionName}"
@attribute [StreamRendering]

<PageTitle>Session</PageTitle>

<h3>Session</h3>

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="image-container mt-5">
                <img src="img/template.png" alt="Blank canvas" class="img-fluid img-thumbnail" width="1920" height="1080" />
            </div>

            <div class="chatbox">
                <form action="">
                    <input type="text" name="message" placeholder="Type your message...">
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid SessionId { get; set; } = Guid.NewGuid();
    [Parameter]
    public string VersionName { get; set; } = "v1";

    public void OnInitialization()
    {
        if (SessionId == null) SessionId = Guid.NewGuid();
        if (VersionName == null) VersionName = Guid.NewGuid().ToString();
    }
}
